In [1]:
import pandas as pd

In [3]:
table_df = pd.read_csv("Resources/cities.csv")

table_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [24]:
myTable = table_df.to_html()

myTable = myTable.replace('<table border="1" class="dataframe"> \n','')

with open("data-temp.html", 'r') as text:
    
    template = text.read()


data_html = template.replace('<!-- insert table -->', myTable)

with open("data.html", 'w') as text:
    
    text.write(data_html)
    
print('New html is generated')

'<!DOCTYPE html>\n<html>\n<head>\n    <title>Latitude</title>\n    <link rel="stylesheet" href="reset.css">\n    <link rel="stylesheet" href="style.css">\n    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">\n    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">\n</head>\n<body>\n    <nav>\n        <ul class = "large_nav">\n            <li style="float:left"> <a  class="alti-logo" href="index.html"> Altitude </a></li>\n        \n            <li> <a href="data.html">Data</a> </li>\n            <li> <a href="comparison.html">Comparison</a> </li>\n\n            <li class="full dropdown">\n\n                <a href="#" class="dropbtn"><i>Plots Ë…</i>\n                </a>\n                <div class="dropdown-content">\n                    <a href="maxtemp.html">s. Max Temperature</a>\n                    <a href="humidity.html">vs. Humidity</a>\n                    <a href="cloudiness.html">vs. Cloudiness</a>\n                    <a href="windspeed.html">vs. Wind Speed</a>\n                </div>\n            </li>\n\n            <div class="mini dropdown">\n\n                <a href="#" class="dropbtn"><i class="fa fa-bars"></i>\n                    </a>\n\n                <div class="dropdown-content">\n                    <a href="maxtemp.html">s. Max Temperature</a>\n                    <a href="humidity.html">vs. Humidity</a>\n                    <a href="cloudiness.html">vs. Cloudiness</a>\n                    <a href="windspeed.html">vs. Wind Speed</a>\n                    <a href="data.html">Data</a> \n                    <a href="comparison.html">Comparison</a>\n                </div>\n            </div>\n\n        </ul>   \n\n    </nav>\n\n\n\n    <ul class ="contents">\n        \n        <div class="container">\n            <h1 class="alti">Data</h1>\n            <p>The following table includes all of the data used for plotting the project:</p>\n                        \n            <table class="table table-striped table-hover">\n\n                <!-- insert table -->\n\n          </div>\n        \n    </ul>   \n\n<footer>\n    Â© Copyright Coding Bootcamp 2020\n</footer>\n\n</body>\n</html>'